<h1>Movie Details {{ index }}</h1>

{{#if movie}}
    <h2>movie title: {{ movie.title }}</h2>

    <p>director: {{ movie.director }}</p>
    <p>type: {{ movie.type }}</p>
    <p>year: {{ movie.year }}</p>

{{else}}
    <p>not found</p>
{{/if}}



<p><a href="/">back</a></p>